*.log
*.aux
*.tex
*.fls
*.bib
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.run.xml
*.synctex.gz
*.toc
*.dvi
*.fdb_latexmk
*.DS_Store
*~
figs
main.pdf
Icon[^/]
\#*
*.dropbox
*-deprecated*
_README

### R nonsense ### 
.Rhistory
*-Ex.R
*.Rapp.history

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db