*.log
*.aux
*.tex
*.fls
*.bib
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.dvi
*.fdb_latexmk
*.DS_Store
*gitignore~
*.Rapp.history
*.Rhistory
*~
figs
Icon[^/]
\#*
*.dropbox
_README
*-deprecated*
*.Rhistory